body {
    background-color: LightSteelBlue;
    text-align: center;
}

table, td, th {
    border: 1px solid;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.no-m {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

img {
    margin: 1px 0 1px 0;
    width: 50px;
    background-color: LightSteelBlue;
}

.btn-sml {
    background-color: LightSteelBlue;
    color: white;
    width: 60px;
    height: 60px;
}

.btn-sml:hover {
    background-color: LightSteelBlue;
    cursor: pointer;
    color: black;
}

.bg_green{
    background-color: Lime;
}

.bg_AntiqueWhite{
    background-color: #cfe2ff;
}

p {
    color: black;
    font-family: Shanti;
    font-size: 1.2em;
    margin: 2px;
}

.input {
    border: 1px solid #ccc;
    padding: 1px 6px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2