{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<form action="/updaterack" METHOD="POST">

<!--Player 1 score-->
<table width="100%" class="table-primary">

	<tr>
		<td class="{{p1s1}}">1</td>
		<td class="{{p1s2}}">.</td>
		<td class="{{p1s3}}">.</td>
		<td class="{{p1s4}}">.</td>
		<td class="{{p1s5}}">5</td>
		<td class="{{p1s6}}">.</td>
		<td class="{{p1s7}}">.</td>
		<td class="{{p1s8}}">.</td>
		<td class="{{p1s9}}">.</td>
		<td class="{{p1s10}}">10</td>
		<td class="{{p1s11}}">.</td>
		<td class="{{p1s12}}">.</td>
		<td class="{{p1s13}}">.</td>
		<td class="{{p1s14}}">14</td>
		<td class="{{p1s15}}">.</td>
		<td class="{{p1s16}}">.</td>
		<td class="{{p1s17}}">.</td>
		<td class="{{p1s18}}">.</td>
		<td class="{{p1s19}}">19</td>
		<td class="{{p1s20}}">.</td>
		<td class="{{p1s21}}">.</td>
		<td class="{{p1s22}}">.</td>
		<td class="{{p1s23}}">.</td>
		<td class="{{p1s24}}">.</td>
		<td class="{{p1s25}}">25</td>
		<td class="{{p1s26}}">.</td>
		<td class="{{p1s27}}">.</td>
		<td class="{{p1s28}}">.</td>
		<td class="{{p1s29}}">.</td>
		<td class="{{p1s30}}">.</td>
		<td class="{{p1s31}}">31</td>
		<td class="{{p1s32}}">.</td>
		<td class="{{p1s33}}">.</td>
		<td class="{{p1s34}}">.</td>
		<td class="{{p1s35}}">35</td>
		<td class="{{p1s36}}">.</td>
		<td class="{{p1s37}}">.</td>
		<td class="{{p1s38}}">38</td>
		<td class="{{p1s39}}">.</td>
		<td class="{{p1s40}}">.</td>
		<td class="{{p1s41}}">.</td>
		<td class="{{p1s42}}">.</td>
		<td class="{{p1s43}}">.</td>
		<td class="{{p1s44}}">.</td>
		<td class="{{p1s45}}">.</td>
		<td class="{{p1s46}}">46</td>
		<td class="{{p1s47}}">.</td>
		<td class="{{p1s48}}">.</td>
		<td class="{{p1s49}}">.</td>
		<td class="{{p1s50}}">50</td>
		<td class="{{p1s51}}">.</td>
		<td class="{{p1s52}}">.</td>
		<td class="{{p1s53}}">.</td>
		<td class="{{p1s54}}">.</td>
		<td class="{{p1s55}}">55</td>
	</tr>
</table>
<!--Main Score Sheet-->
<table class="table table-sm table-primary">
	<col>
	<col>
	<tr>
		<td width="5%" class="align-middle" rowspan=2>{{team1}}</td>
		<td width="20%" class="text-start">{{player1no}}</td>
		<td width="5%" class="align-middle" rowspan=2>{{player1target}}</td>
		<td width="10%" class="left align-middle">Score</td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r1" value="{{p1r1}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r2" value="{{p1r2}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r3" value="{{p1r3}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r4" value="{{p1r4}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r5" value="{{p1r5}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r6" value="{{p1r6}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r7" value="{{p1r7}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r8" value="{{p1r8}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r9" value="{{p1r9}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r10" value="{{p1r10}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r11" value="{{p1r11}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r12" value="{{p1r12}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r13" value="{{p1r13}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r14" value="{{p1r14}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p1r15" value="{{p1r15}}"></td>
	</tr>
	<tr>
		<td class="text-start">{{player1}}</td>
		<td class="left align-middle">Innings</td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr1" value="{{inr1}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr2" value="{{inr2}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr3" value="{{inr3}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr4" value="{{inr4}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr5" value="{{inr5}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr6" value="{{inr6}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr7" value="{{inr7}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr8" value="{{inr8}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr9" value="{{inr9}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr10" value="{{inr10}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr11" value="{{inr11}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr12" value="{{inr12}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr13" value="{{inr13}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr14" value="{{inr14}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="inr15" value="{{inr15}}"></td>
	</tr>
	<tr>
		<td class="align-middle" rowspan=2>{{team2}}</td>
		<td  class="text-start">{{player2no}}</td>
		<td class="align-middle" rowspan=2>{{player2target}}</td>
		<td class="align-middle">Dead Balls</td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr1" value="{{dbr1}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr2" value="{{dbr2}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr3" value="{{dbr3}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr4" value="{{dbr4}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr5" value="{{dbr5}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr6" value="{{dbr6}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr7" value="{{dbr7}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr8" value="{{dbr8}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr9" value="{{dbr9}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr10" value="{{dbr10}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr11" value="{{dbr11}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr12" value="{{dbr12}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr13" value="{{dbr13}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr14" value="{{dbr14}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="dbr15" value="{{dbr15}}"></td>
	</tr>
	<tr>
		<td class="text-start">{{player2}}</td>
		<td class="left align-middle">Score</td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r1" value="{{p2r1}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r2" value="{{p2r2}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r3" value="{{p2r3}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r4" value="{{p2r4}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r5" value="{{p2r5}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r6" value="{{p2r6}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r7" value="{{p2r7}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r8" value="{{p2r8}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r9" value="{{p2r9}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r10" value="{{p2r10}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r11" value="{{p2r11}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r12" value="{{p2r12}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r13" value="{{p2r13}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r14" value="{{p2r14}}"></td>
		<td width="3%" class="align-middle"><input style="width:2em;" type="text" name="p2r15" value="{{p2r15}}"></td>
	</tr>
</table>
<!--Player 2 score-->
<table width="100%">
	<col>
	<tr>
		<td class="{{p2s1}}">1</td>
		<td class="{{p2s2}}">.</td>
		<td class="{{p2s3}}">.</td>
		<td class="{{p2s4}}">.</td>
		<td class="{{p2s5}}">5</td>
		<td class="{{p2s6}}">.</td>
		<td class="{{p2s7}}">.</td>
		<td class="{{p2s8}}">.</td>
		<td class="{{p2s9}}">.</td>
		<td class="{{p2s10}}">10</td>
		<td class="{{p2s11}}">.</td>
		<td class="{{p2s12}}">.</td>
		<td class="{{p2s13}}">.</td>
		<td class="{{p2s14}}">14</td>
		<td class="{{p2s15}}">.</td>
		<td class="{{p2s16}}">.</td>
		<td class="{{p2s17}}">.</td>
		<td class="{{p2s18}}">.</td>
		<td class="{{p2s19}}">19</td>
		<td class="{{p2s20}}">.</td>
		<td class="{{p2s21}}">.</td>
		<td class="{{p2s22}}">.</td>
		<td class="{{p2s23}}">.</td>
		<td class="{{p2s24}}">.</td>
		<td class="{{p2s25}}">25</td>
		<td class="{{p2s26}}">.</td>
		<td class="{{p2s27}}">.</td>
		<td class="{{p2s28}}">.</td>
		<td class="{{p2s29}}">.</td>
		<td class="{{p2s30}}">.</td>
		<td class="{{p2s31}}">31</td>
		<td class="{{p2s32}}">.</td>
		<td class="{{p2s33}}">.</td>
		<td class="{{p2s34}}">.</td>
		<td class="{{p2s35}}">35</td>
		<td class="{{p2s36}}">.</td>
		<td class="{{p2s37}}">.</td>
		<td class="{{p2s38}}">38</td>
		<td class="{{p2s39}}">.</td>
		<td class="{{p2s40}}">.</td>
		<td class="{{p2s41}}">.</td>
		<td class="{{p2s42}}">.</td>
		<td class="{{p2s43}}">.</td>
		<td class="{{p2s44}}">.</td>
		<td class="{{p2s45}}">.</td>
		<td class="{{p2s46}}">46</td>
		<td class="{{p2s47}}">.</td>
		<td class="{{p2s48}}">.</td>
		<td class="{{p2s49}}">.</td>
		<td class="{{p2s50}}">50</td>
		<td class="{{p2s51}}">.</td>
		<td class="{{p2s52}}">.</td>
		<td class="{{p2s53}}">.</td>
		<td class="{{p2s54}}">.</td>
		<td class="{{p2s55}}">55</td>
	</tr>
</table>


<!--Player1-->
	<!--
<p>{{player1}}</p>
<table width="100%" class="no-m">
	<tr height=24>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="11" alt="" src="{{p1ball1}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="12" alt="" src="{{p1ball2}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="13" alt="" src="{{p1ball3}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="14" alt="" src="{{p1ball4}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="15" alt="" src="{{p1ball5}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="16" alt="" src="{{p1ball6}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="17" alt="" src="{{p1ball7}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="18" alt="" src="{{p1ball8}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="19" alt="" src="{{p1ball9}}">
			</form>
		</td>
		<td width="10%">
			<h3>{{p1curval}}</h3>
		</td>
	</tr>
</table>
-->
<!--Player2-->
<!--
<p>{{player2}}</p>
<table width="100%" class="no-m">
	<tr height=24>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="21" alt="" src="{{p1ball1}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="22" alt="" src="{{p1ball2}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="23" alt="" src="{{p1ball3}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="24" alt="" src="{{p1ball4}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="25" alt="" src="{{p1ball5}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="26" alt="" src="{{p1ball6}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="27" alt="" src="{{p1ball7}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="28" alt="" src="{{p1ball8}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="29" alt="" src="{{p1ball9}}">
			</form>
		</td>
		<td width="10%">
			<h3>{{p2curval}}</h3>
		</td>
	</tr>
</table>
-->
<!--DeadBalls-->
<!--
<p>Dead Balls</p>
<table width="100%" class="no-m">
	<tr height=24>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="31" alt="" src="{{p1ball1}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="32" alt="" src="{{p1ball2}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="33" alt="" src="{{p1ball3}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="34" alt="" src="{{p1ball4}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="35" alt="" src="{{p1ball5}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="36" alt="" src="{{p1ball6}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="37" alt="" src="{{p1ball7}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="38" alt="" src="{{p1ball8}}">
			</form>
		</td>
		<td width="10%">
			<form action="valup" method="post">
				<input type="image" class="btn-sml" id="image" name="39" alt="" src="{{p1ball9}}">
			</form>
		</td>
		<td width="10%">
			<h3>{{p3curval}}</h3>
		</td>
	</tr>
</table>
<br>
-->
<div class="row">
	<div class="col">
		<input type="submit" value="Update" class="btn btn-secondary">
	</div>
</div>
</form>
<br>

<!--Reset Button-->
<!--<div>
	<form action="clear" method="post">
		<input class="btn-med" type="submit" value="Reset">
	</form>
</div>-->


{% endblock %}