{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<br>
<div class="row justify-content-center">
   <table class="table table-sm table-primary table-striped w-50">
      <col>
      <thead>
         <tr>
            <th scope="col">Players Skill Level</th>
            <th scope="col">Points Required to win</th>
         </tr>
      </thead>
      <tr>
         <td width="50%">1</td>
         <td width="50%">14</td>
      </tr>
      <tr>
         <td width="50%">2</td>
         <td width="50%">19</td>
      </tr>
            <tr>
         <td width="50%">3</td>
         <td width="50%">25</td>
      </tr>
            <tr>
         <td width="50%">4</td>
         <td width="50%">31</td>
      </tr>
            <tr>
         <td width="50%">5</td>
         <td width="50%">38</td>
      </tr>
            <tr>
         <td width="50%">6</td>
         <td width="50%">46</td>
      </tr>
            <tr>
         <td width="50%">7</td>
         <td width="50%">55</td>
      </tr>
            <tr>
         <td width="50%">8</td>
         <td width="50%">65</td>
      </tr>
            <tr>
         <td width="50%">9</td>
         <td width="50%">75</td>
      </tr>
   </table>


<br>
</div>
{% endblock %}